apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  - ../base

commonLabels:
  environment: dev

patches:
  - target:
      kind: ResourceQuota
    patch: |-
      - op: replace
        path: /spec/hard/requests.cpu
        value: "2"
